.carousel-outer{
	width: 100%;
	position: relative;
	overflow: hidden;
}

.left-transparent, .right-transparent, .carousel-inner{
	float: left;
}

.left-transparent{
	left: 0px;
	height: 200px;
	z-index: 50;
}

.right-transparent{
	right: 0px;
	height: 200px;
	z-index: 50;
}

.left-link{
	position: absolute;
	left: 0px;
	z-index: 100;
}

.right-link{
	position: absolute;
	right: 0px;
	z-index: 100;
}

.left-transparent, .right-transparent{
	width: 20%;
	position: absolute;
	opacity: 0.4;
	background-color: black;
}

.wrapper{
	position: absolute;
	width: 2896px; /*Needs to be adjusted later based on the picture*/
}

.wrapper .carousel-item{
	float: left;
	width: 500px;
}

.carousel-inner{
	overflow: visible;
	height: 970px;
	margin-left: 20%;
}

.scroll-buttons{
	position: absolute;
	bottom: 0px;
	margin: 0px 10px;
	list-style: none;
}

.scroll-buttons .scroll-button{
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	text-align: center;
	margin: 0px 20px;
}

.scroll-buttons .scroll-button:hover{
	cursor: pointer;
	background-color: #000;
	color: #fff;
}

.activeLink{
	background-color: white;
}
